<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="gugutech.elseapp.dao.SequenceMapper" >
  <resultMap id="BaseResultMap" type="gugutech.elseapp.model.Sequence" >
    <id column="name" property="name" jdbcType="VARCHAR" />
    <result column="current_value" property="currentValue" jdbcType="BIGINT" />
    <result column="increment" property="increment" jdbcType="INTEGER" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from sequence
    where `name` = #{name,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="gugutech.elseapp.model.Sequence" >
    insert into sequence (`name`, current_value, `increment`
      )
    values (#{name,jdbcType=VARCHAR}, #{currentValue,jdbcType=BIGINT}, #{increment,jdbcType=INTEGER}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="gugutech.elseapp.model.Sequence" >
    update sequence
    set current_value = #{currentValue,jdbcType=BIGINT},
      `increment` = #{increment,jdbcType=INTEGER}
    where `name` = #{name,jdbcType=VARCHAR}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select `name`, current_value, `increment`
    from sequence
    where `name` = #{name,jdbcType=VARCHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select `name`, current_value, `increment`
    from sequence
  </select>
</mapper>