<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="gugutech.elseapp.dao.UserChargeTMapper" >
  <resultMap id="BaseResultMap" type="gugutech.elseapp.model.UserChargeT" >
    <id column="CHAR_ID" property="charId" jdbcType="INTEGER" />
    <result column="USER_ID" property="userId" jdbcType="INTEGER" />
    <result column="CHAR_CHANNEL" property="charChannel" jdbcType="VARCHAR" />
    <result column="CHAR_AMOUNT" property="charAmount" jdbcType="VARCHAR" />
    <result column="CHAR_STATUS" property="charStatus" jdbcType="VARCHAR" />
    <result column="CHAR_DATETIME" property="charDatetime" jdbcType="TIMESTAMP" />
    <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
    <result column="SEG1" property="seg1" jdbcType="VARCHAR" />
    <result column="SEG2" property="seg2" jdbcType="VARCHAR" />
    <result column="SEG3" property="seg3" jdbcType="VARCHAR" />
    <result column="SEG4" property="seg4" jdbcType="VARCHAR" />
    <result column="SEG5" property="seg5" jdbcType="VARCHAR" />
    <result column="SEG6" property="seg6" jdbcType="VARCHAR" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from user_charge_t
    where CHAR_ID = #{charId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="gugutech.elseapp.model.UserChargeT" >
    insert into user_charge_t (CHAR_ID, USER_ID, CHAR_CHANNEL, 
      CHAR_AMOUNT, CHAR_STATUS, CHAR_DATETIME, 
      CREATE_TIME, SEG1, SEG2, 
      SEG3, SEG4, SEG5, SEG6
      )
    values (#{charId,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, #{charChannel,jdbcType=VARCHAR}, 
      #{charAmount,jdbcType=VARCHAR}, #{charStatus,jdbcType=VARCHAR}, #{charDatetime,jdbcType=TIMESTAMP}, 
      #{createTime,jdbcType=TIMESTAMP}, #{seg1,jdbcType=VARCHAR}, #{seg2,jdbcType=VARCHAR}, 
      #{seg3,jdbcType=VARCHAR}, #{seg4,jdbcType=VARCHAR}, #{seg5,jdbcType=VARCHAR}, #{seg6,jdbcType=VARCHAR}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="gugutech.elseapp.model.UserChargeT" >
    update user_charge_t
    set USER_ID = #{userId,jdbcType=INTEGER},
      CHAR_CHANNEL = #{charChannel,jdbcType=VARCHAR},
      CHAR_AMOUNT = #{charAmount,jdbcType=VARCHAR},
      CHAR_STATUS = #{charStatus,jdbcType=VARCHAR},
      CHAR_DATETIME = #{charDatetime,jdbcType=TIMESTAMP},
      CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      SEG1 = #{seg1,jdbcType=VARCHAR},
      SEG2 = #{seg2,jdbcType=VARCHAR},
      SEG3 = #{seg3,jdbcType=VARCHAR},
      SEG4 = #{seg4,jdbcType=VARCHAR},
      SEG5 = #{seg5,jdbcType=VARCHAR},
      SEG6 = #{seg6,jdbcType=VARCHAR}
    where CHAR_ID = #{charId,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select CHAR_ID, USER_ID, CHAR_CHANNEL, CHAR_AMOUNT, CHAR_STATUS, CHAR_DATETIME, CREATE_TIME, 
    SEG1, SEG2, SEG3, SEG4, SEG5, SEG6
    from user_charge_t
    where CHAR_ID = #{charId,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select CHAR_ID, USER_ID, CHAR_CHANNEL, CHAR_AMOUNT, CHAR_STATUS, CHAR_DATETIME, CREATE_TIME, 
    SEG1, SEG2, SEG3, SEG4, SEG5, SEG6
    from user_charge_t
  </select>
</mapper>